<!DOCTYPE html>
{{ `<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->` | safeHTML }}  
{{ `<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->` | safeHTML }}  
{{ `<!--[if !IE]>  <html lang="en"> <![endif]-->` | safeHTML }}  
<head>
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "head/meta" . }}
    <link rel="canonical" href="{{ .Permalink }}"> {{ if (isset .Params "prev") }}
    <link rel="prev" href="{{ .Params.prev }}"> {{ end }} {{ if (isset .Params "next") }}
    <link rel="next" href="{{ .Params.next }}"> {{ end }}

    {{ template "_internal/opengraph.html" . }}

    {{ partialCached "head/favicon" . }}
    {{ partialCached "head/css" . }}
    <!-- Headway App -->
    <script>
      var HW_config = {
        selector: ".hw-changelog", // CSS selector where to inject the badge
        account:  "76zaR7"
      }
    </script>
    <script async src="//cdn.headwayapp.co/widget.js"></script>
</head> 

<body class="{{ if .IsHome }}landing-page{{ end }} body-blue">   
    
    <div class="page-wrapper">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img alt="GeoJS" src="/favicon/v1/favicon-32x32.png" height="20" width="20">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Docs <span class="caret"></span><span class="sr-only">(current)</span></a>
                <ul class="dropdown-menu">
                  <li><a href="/docs/general/">General</a></li>
                  <li><a href="/docs/v1/chatops/">ChatOps</a></li>
                  <li><a href="/docs/v1/endpoints/">Endpoints</a></li>
                </ul>
              </li>
              <li><a href="https://jloh.co/tag/geojs/">Blog</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li><a href="http://status.geojs.io/">Status</a></li>
              <li class="disabled"><a href="#" class="disabled">App - coming soon</a></li>
            </ul>
            <p class="navbar-text navbar-right">Latest news: <span id="latest-post">loading <i class="fa fa-cog fa-spin"></i></span></p>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    {{ block "main" . }}
    {{ end }}
    </div><!--//page-wrapper-->
    {{ partialCached "footer.html" . }}

    <!-- Main Javascript -->          
    <script type="text/javascript" src="/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="https://jloh.co/public/ghost-sdk.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {{ if .IsHome}}
    <script type="application/javascript">
        function geoip(json){
            var userip      = document.getElementById("user_ip");
            var countrycode = document.getElementById("user_countrycode");
            userip.textContent      = json.ip;
            countrycode.textContent = json.country_code;
        }
    </script>
    <script async src="https://get.geojs.io/v1/ip/geo.js"></script>
    {{ end }}
</body>
</html>
<!-- https://discourse.gohugo.io/t/implementing-breadcrumb-navigation-in-hugo/1048/38 -->
{{ define "breadcrumb" }}
  {{ if .currentPage.Parent }}
    {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
  {{ end }}
  {{ if eq .id .currentPage.UniqueID }}
    <li class="active">{{ if .currentPage.Params.short_title }}{{.currentPage.Params.short_title }}{{ else }}{{ .currentPage.Title }}{{ end }}</li>
  {{ else }}
    <li><a href="{{ .currentPage.URL }}">{{ if .currentPage.IsHome }}Home{{ else }}{{ if .currentPage.Params.short_title }}{{.currentPage.Params.short_title }}{{ else }}{{ .currentPage.Title }}{{ end }}{{ end }}</a></li>
  {{ end }}
{{ end }}
