<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img alt="GeoJS" src="{{ "/img/logo.png" | relURL }}">
      </a>
      <div class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topmenu-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="topmenu-nav">
      <div class="navbar-start">
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
          <div class="navbar-dropdown">
            {{ range .Children }}
            <a class="navbar-item" title="{{ .Title }}" href="{{ .URL }}">{{ .Title }}</a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item" title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        {{ end }}
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          {{ partialCached "nav/blog" . }}
        </div>
      </div>
    </div>
  </div>
</nav>
