<link rel="apple-touch-icon" sizes="180x180" href="/favicon/v1/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/v1/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/v1/favicon-16x16.png">
<link rel="manifest" href="/favicon/v1/manifest.json">
<link rel="mask-icon" href="/favicon/v1/safari-pinned-tab.svg" color="#90aeff">
<link rel="shortcut icon" href="/favicon/v1/favicon.ico">
<meta name="apple-mobile-web-app-title" content="GeoJS">
<meta name="application-name" content="GeoJS">
<meta name="msapplication-config" content="/favicon/v1/browserconfig.xml">
<!--<meta name="theme-color" content="#ffffff">-->
   <!-- TODO: Find a better place for this -->
   <script>
     var HW_config = {
       selector: "#hw-changelog", // CSS selectddor where to inject the badge
       account:  "76zaR7"
     }
   </script>
   <script async src="//cdn.headwayapp.co/widget.js"></script>
