<footer class="footer text-center">
        <div class="container">
	    <small class="copyright">GeoJS is made with <i class="fa fa-heart"></i> by <a href="https://jloh.co" title="jloh">jloh</a>   <a href="https://jloh.co/l/twitter" title="jloh's twitter"><i class="fa fa-twitter"></i></a> <a href="https://jloh.co/l/github" title="jloh's GitHub profile"><i class="fa fa-github"></i></a> <a href="https://jloh.co/l/keybase" title="jloh's Keybase profile"><i class="fa fa-key"></i></a></small>

        </div><!--//container-->
    </footer><!--//footer-->
