                    <div class="item item-{{ if .Params.card_colour }}{{ .Params.card_colour }}{{ else }}green{{ end }} col-md-4 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <i class="icon fa fa-{{ if .Params.icon }}{{ .Params.icon }}{{ else }}paper-plane{{ end }}"></i>
                            </div><!--//icon-holder-->
                            <h3 class="title">{{ .Title }}</h3>
                            <p class="intro">{{ .Params.description }}</p>
                            <a class="link" href="{{ .Permalink }}"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
