{{ define "main" }}
        <!-- ******Header****** -->
        <header class="header text-center">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <span class="hw-changelog"></span>
                        <span aria-hidden="true" class="icon_documents_alt icon" style="color: #58bbee;"></span>
			<span class="text-highlight">Geo</span><span class="text-bold">JS</span>
                    </h1>
                </div><!--//branding-->
                <div class="tagline">
                    <p>Highly available REST/JSON/JSONP IP Geolocation lookup API</p>
                    <p>Designed with <i class="fa fa-heart"></i> for developers</p>
                </div><!--//tagline-->
                <div class="social-container">
                    <div class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="PrettyDocs - A FREE #Bootstrap theme for project documentations #Responsive" data-via="3rdwave_themes">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div><!--//tweet-->
                    <div class="hw-changelog" ></div>            
                 </div><!--//social-container-->
            </div><!--//container-->
        </header><!--//header-->
        
        <section class="cards-section text-center">
            <div class="container">
                <h2 class="title">Getting started is easy!</h2>
                <div class="intro">
                    {{ .Content }}
                </div><!--//intro-->
                <div id="cards-wrapper" class="cards-wrapper row">
                    {{ range .Paginator.Pages.ByWeight }} {{ partial "item" . }} {{ end }}
                </div><!--//cards-->
                
            </div><!--//container-->
        </section><!--//cards-section-->
{{ end }}
