{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="intro row align-middle">
    <div class="col push-center col-10 text-center">
      <p>
      GeoJS is a highly available REST/JSON/JSONP IP Geolocation lookup API. It offers websites the ability to get a visitors IP address and query additional location information without rate limits (yet!), free for use no matter your platform.
      </br>
      </br>
      With sub second response times and multiple locations around the globe you can throw as much traffic as you like at us.
      </p>
    </div>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Zero Rate Limits</h4>
        <p>GeoJS currently has zero rate limits in place and doesn't currently see the need to add any in the future.</p>
      </div>
      <div class="col col-4 item">
        <h4>CORS</h4>
        <p>Sending wide open CORS headers GeoJS can be used on any platform or website.
      </div>
      <div class="col col-4 item">
        <h4>And more...</h4>
        <ul class="unstyled">
          <li>Highly available</li>
          <li>HTTPS only</li>
          <li>IPv4 and IPv6</li>
         </ul>
      </div>
    </div>
  </div>
  <div id="row align-middle" style="padding-bottom: 32px; margin-bottom: 64px; border-bottom: 1px dashed rgba(0, 0, 0, 0.15);">
    <div class="col push-center col-10 text-center">
      <p>Checkout our <a href="/docs" title="GeoJS Documentation">docs</a> to get started, our <a href="https://jloh.co/tag/geojs/" title="GeoJS blog posts">blog posts</a> about GeoJS or a neat little demo down below.</p>
    </div>
  </div>
  <div id="intro row align-middle">
    <div class="col push-center col-10 text-center">
      <h2>Demo</h2>
      <div class="col push-center col-10 text-center">
        <p>Time for a quick demo using a tiny bit of jQuery.
        <blockquote>Hey <span id="user_ip"></span>. The IP you&rsquo;re behind has a country code of <span id="user_countrycode"></span>!</blockquote></p>

        <script type="application/javascript">
            function geoip(json){
                var userip      = document.getElementById("user_ip");
                var countrycode = document.getElementById("user_countrycode");
                userip.textContent      = json.ip;
                countrycode.textContent = json.country_code;
            }
        </script>
        <script src="https://get.geojs.io/v1/ip/geo.js"></script>

        <p>Which is built using this little bit of code:</p>

{{.Content }}
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
